.relative:hover .absolute {
  display: block;
}

.absolute {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 105px;
  background-color: white;
  border: 1px solid #ddd;
  z-index: 10;
}

.header-actions {
  display: flex;
  align-items: center;
}

.header-actions span {
  white-space: nowrap;
}

.absolute a {
  display: block;
  color: black;
}

.absolute a:hover {
  color: blue;
  background-color: #f2f2f2;
  font-weight: bold;
}
