/* Headers.css */
.ant-menu-item:hover,
.ant-menu-submenu-title:hover {
  border-bottom: 1px solid #1e40af;
}

.ant-menu-title-content {
  color: black;
}

.ant-menu-title-content:hover {
  color: #1e40af;
}

.header-inner,
.header-menu-inner {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.header-menu {
  width: 100%;
}

.ant-menu-item,
.ant-menu-submenu-title {
  transition: border-bottom 0.3s ease;
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 20;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.mobile-menu .ant-menu-item {
  display: block;
  width: 100%;
}

.ant-dropdown-trigger {
  font-size: 24px;
}

@media (max-width: 768px) {
  .header-menu {
    display: none;
  }

  .header-inner {
    flex-direction: column;
  }

  .header-menu-inner {
    flex-direction: column;
    padding: 0;
  }

  .mobile-menu-container {
    display: flex;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header-menu {
    display: flex;
  }

  .header-inner .flex-grow {
    display: block;
  }
}
