@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.ant-typography,
.ant-btn,
.ant-menu,
.ant-form-item,
.ant-input,
.ant-select,
.ant-table,
.ant-modal {
  font-family: "Montserrat", sans-serif;
}
